<ion-header>
  <ion-toolbar>
    <ion-title>Card-decks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    
    <app-card-deck *ngFor="let cardDeck of cardDecks" 
      [myCardDeck]="cardDeck" (clicked)="select($event)"> </app-card-deck>

  </ion-list>

  <p>
    Selected Card decks:
    <span *ngFor="let name of selectedCDs">
      {{name}}&nbsp;
    </span>
  </p>

  <p>
    Selected cards:
    <span *ngFor="let name of selectedCs">
      {{name}}&nbsp;
    </span>
  </p>
</ion-content>
